<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.QuestionMapper">
    <resultMap id="resultAnswer" type="com.test.pojo.Question">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="detailDesc" column="detailDesc"></result>
        <collection property="answers" ofType="com.test.pojo.Answer">
            <result property="ansContext" column="ansContext"/>
            <result property="ansDate" column="ansDate"/>
        </collection>
    </resultMap>
    <update id="update">
        update question
        set answerCount=answerCount+1
        where id=#{qid}
    </update>
    <select id="queryAll" resultType="com.test.pojo.Question">
        select *
        from question
        order by lastModified desc
    </select>
    <insert id="save">
        insert into question
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="title!=null and title!=''">
                ,title
            </if>
            <if test="detailDesc!=null and detailDesc!=''">
                ,detailDesc
            </if>
            <if test="answerCount!=null ">
                ,answerCount
            </if>
            <if test="lastModified!=null ">
                ,lastModified
            </if>
        </trim>

        <trim prefix="values(" suffix=")" prefixOverrides=",">
            <if test="title!=null and title!=''">
                ,#{title}
            </if>
            <if test="detailDesc!=null and detailDesc!=''">
                ,#{detailDesc}
            </if>
            <if test="answerCount!=null ">
                ,#{answerCount}
            </if>
            <if test="lastModified!=null ">
                ,#{lastModified}
            </if>
        </trim>
    </insert>
    <select id="queryanswer" resultMap="resultAnswer">
        select t1.id,t1.title,t1.detailDesc,t2.ansContext,t2.ansDate
        from question t1,answers t2
        where t1.id=t2.qid and t2.qid=#{id}
        order by t2.ansDate desc
    </select>
    <select id="queryOwn" resultType="com.test.pojo.Question">
        select id,title,detailDesc,answerCount
        from question
        where id=#{id}
    </select>
</mapper>